<h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>

<ul>
  <li>
    <%= link_to '新規登録', new_user_registration_path %>
  </li>
  <li>
    <%= link_to 'ログイン', new_user_session_path %>
  </li>
  <%# ログイン済みならログアウト・ユーザー一覧を表示 %>
  <% if user_signed_in? %>
    <li>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    </li>
    <li>
      <%= link_to 'ユーザー一覧', follows_path %>
    </li>
  <% end %>
</ul>